/* VARIABLES */

:root {
  --bg-dark: hsl(200 22% 89%);
  --bg: hsl(200 43% 95%);
  --bg-light: hsl(200 100% 100%);
  --text: hsl(201 69% 4%);
  --text-muted: hsl(199 14% 28%);
  --highlight: hsl(199 100% 100%);
  --border: hsl(199 8% 50%);
  --border-muted: hsl(199 11% 62%);
  --primary: hsl(193 100% 16%);
  --secondary: hsl(23 81% 25%);
  --danger: hsl(9 21% 41%);
  --warning: hsl(52 23% 34%);
  --success: hsl(147 19% 36%);
  --info: hsl(217 22% 41%);
}

/* DEFAULT STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: Arial, sans-serif;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* HEADER STYLES */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 2px solid var(--border-muted);
  margin-bottom: 20px;
  background-color: var(--bg-dark);
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary);
  margin-left: 20px;
}

.header-nav {
  margin-right: 20px;
}

.header-list {
  list-style: none;
  display: flex;
  gap: 15px;
}

.header-link {
  text-decoration: none;
  color: var(--text);
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.header-link:hover {
  color: var(--secondary);
  border-bottom: 2px solid var(--secondary);
}

/* ABOUT ME SECTION */

.aboutMe-section {
  width: 100%;
  background-color: var(--bg);
  padding: 20px 0;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.aboutMe-profileImage-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutMe-profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.aboutMe-stockImage {
  height: 50vh;
  margin-top: 20px;
  border-radius: 8px;
  object-fit: contain;
}

.languages-section {
  width: 100%;
  background-color: var(--bg-light);
  padding: 20px 0;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.languages-section h2 {
  margin-bottom: 15px;
  color: var(--primary);
  text-align: center;
}

.languages-list-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.language-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.language-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 8px;
  transition: transform 0.3s;
}

.language-name {
  font-size: 14px;
  color: var(--text-muted);
  text-align: center;
  transition: color 0.3s;
}

.language-item:hover .language-name {
  color: var(--text);
}

.language-item:hover .language-icon {
  transform: scale(1.3);
  transition: transform 0.3s;
  margin-bottom: 12px;
}

/* FOOTER STYLES */

.footer {
  background-color: var(--bg-dark);
  padding: 15px 0;
  margin-top: 30px;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-list {
  flex: 1;
  width: 90vw;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.footer-link {
  text-decoration: none;
  color: var(--text);
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.footer-link:hover {
  color: var(--secondary);
  border-bottom: 2px solid var(--secondary);
}

/* MEDIA QUERIES */

@media (prefers-color-scheme: dark) {
  :root {
    --bg-dark: hsl(203 54% 1%);
    --bg: hsl(200 35% 4%);
    --bg-light: hsl(199 19% 8%);
    --text: hsl(199 83% 94%);
    --text-muted: hsl(199 14% 69%);
    --highlight: hsl(199 10% 38%);
    --border: hsl(199 14% 28%);
    --border-muted: hsl(199 21% 17%);
    --primary: hsl(198 69% 65%);
    --secondary: hsl(20 68% 69%);
    --danger: hsl(9 26% 64%);
    --warning: hsl(52 19% 57%);
    --success: hsl(146 17% 59%);
    --info: hsl(217 28% 65%);
  }
}
